.ws-contents{
    grid-area: m;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lightseagreen;
    height: auto;
    width:100%;
}

.task-card{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    padding: 3px;


}

.task-card-header{
    height: 30px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 2px 20px;
    font-weight: bold;
    font-size: 1em;
}


.tasks-list {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.eachTask {
    font-size: 1em;
    margin-bottom: 5px;
}


@media screen and (min-width: 34em){
    .ws-contents{
        grid-area: dm;
    }

    .eachTask {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
}
