
.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0 10px;
    background-color: #6796e5;
}   
    
.c-btn{
    width:150px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 10px;
}

@media screen and (min-width: 34em){
    .filter-header{
        grid-area: dm;
    }
}
