.navbar{
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-content: center;
    background-color: #6796e5;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav-logo{
    width: 30px;
    height: 30px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;    
}

.nav-btn{
    width:100px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

@media screen and (min-width: 34em){
 
}