.wrapper{
  background-color: lightseagreen;
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 5fr 1fr;
  grid-template-areas: "h h h" "l m r" "f f f";  
}



@media screen and (min-width: 34em){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "h h h" "l m r" "f f f";  
  }

  Workspace {
    display: none;
  }
}


/* .wrapper2{
  background-color: lightseagreen;
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: 0.3fr 0.2fr 4fr;
  grid-template-areas: "h" "sh" "m";  
} */


/* /* 
@media screen and (min-width: 34em){
  .wrapper2{
    display: grid;/* .wrapper2{
  background-color: lightseagreen;
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: 0.3fr 0.2fr 4fr;
  grid-template-areas: "h" "sh" "m";  
} */


/* /* 
@media screen and (min-width: 34em){
  .wrapper2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "h h h" "l m r" "f f f";  
  } 
}
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "h h h" "l m r" "f f f";  
  } 
}





/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


